html, 
body {
    height: 100%;
}

ul {
    padding-left: 40px;
}

.main-content {
    max-width: 60em;
}

.f000-light {
  font-size: 60px !important;
  font-weight: 300;
}

.bg-blue-dark {
  background-color: #05264c !important;
}